repos:
-   repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-typing-imports==1.10.0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: ".*.json"
      - id: check-yaml
      - id: check-added-large-files
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
    -   id: reorder-python-imports
-   repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.4
    hooks:
    -   id: uv-lock
